* {
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    margin: 0;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 50px 15px;
}

.image-logo {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50%;
    background-image: url("./image/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
}

.name {
    padding: 10px 0;
    border-bottom: 2px solid #ededed;
}
